.contacts {
  display: flex;
  flex-direction: column;
  background: $white;
  width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  max-height: 895px;
  margin-bottom: 40px;
}

.contacts__title {
  display: flex;
  margin: 0;
  padding: 37px 30px 25px;
  font-size: 18px;
  line-height: 30px;
  color: $black;
}

.contacts__list {
  display: flex;
  margin: 0 0 38px;
  padding: 0 30px;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-text;
}

.contacts__value {
  display: flex;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

.contacts__link {
  display: flex;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $color-text;
  border-bottom: 1px solid $mint-lighter;
  margin-left: 10px;
}

.contacts__map {
  border: none;
  width: 380px;
  background: url("../img/map-mobile@1x.jpg") repeat 50% 50%;
}

.contacts__button {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.contacts__list-top {
  padding-bottom: 40px;
}
