.humburger {
  border: none;
  box-shadow: none;
  width: 21px;
  height: 20px;
  background: url("../img/icon-menu-open.svg") no-repeat white;

  &--close {
    border: none;
    box-shadow: none;
    width: 20px;
    height: 14px;
    background: url("../img/icon-menu-close.svg") no-repeat white;
  }
}
