.main-nav__link {
  list-style: none;
  text-decoration: none;
  color: $black;
}

.main-nav__user-link {
  list-style: none;
  text-decoration: none;
  color: $black;
}

.main-nav__list {
  list-style: none;
}

.main-nav__user-list {
  list-style: none;
}

.main-nav__item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  min-height: 50px;
  border-top: 1px solid $grey-border;
  padding-left: 45px;
  padding-top: 30px;
}

.main-nav__user-item {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  min-height: 50px;
  border-top: 1px solid $grey-border;
  padding-left: 45px;
  padding-top: 30px;
}

.main-nav__item--new,
.main-nav__item--sale {
  display: none;
  
}

@media (min-width: 768px) {
  
  .main-nav__user-list {
    display: flex;
    width: 396px;
  }

  .main-nav__list {
    width: 305px;
    order: 2;
    display: flex;
    min-height: 60px;
    justify-content: space-between;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__user-item {
    border: none;
    border-left: 1px solid $grey-border;
  }
}