.menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  display: block;
  padding-top: 26px;
  padding-bottom: 28px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  border-top: 1px solid #ececec;
  padding-left: 75px;
  text-decoration: none;
  color: black;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--search {
    position: relative;
  }

  &--cart {
    position: relative;
  }
}

.menu__link--search {
  ::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: url(../img/icon-search.svg) no-repeat;
    left: 33px;
    top: 32px;
    opacity: 0.2;
  }
}

.menu__link--cart {
  ::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 19px;
    background: url(../img/icon-cart.svg) no-repeat;
    left: 30px;
    top: 32px;
    opacity: 0.2;
  }
}

.menu__interactive {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__offer {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}

.menu__delivery {
  color: #444444;
  font-size: 15px;
  line-height: 24px;
  align-self: flex-end;
  padding-right: 50px;
  display: none;
}

.menu--close .menu__list,
.menu--close .menu__interactive {
  display: none;
}

.menu__icon-cart {
  position: absolute;
  top: 32px;
  left: 30px;
}



.menu__icon-search {
  position: absolute;
  top: 32px;
  left: 33px;
}

@media (min-width: 768px) {
  .menu--close .menu__list,
  .menu--close .menu__interactive {
    display: none;
  }

  .menu .menu__interactive {
    display: flex;
    width: 350px;
  }

  .menu__search-legend {
    display: none;
  }

  .menu .menu__list {
    order: 2;
    display: flex;
    justify-content: space-between;
    z-index: 10;
  }

  .menu__link {
    border: none;
    display: flex;
  }

  .menu__link--search {
    padding-left: 82px;
    min-height: 35px;
  }

  .menu__icon-search {
    top: 38px;
    left: 34px;
  }

  .menu__link--cart {
    padding-left: 83px;
    padding-top: 32px;
    padding-bottom: 33px;
  }

  .menu__icon-cart {
    top: 35px;
    left: 33px;
  }

  .menu__interactive .menu__link {
    border-left: 1px solid #ececec;
  }

  .menu__list .menu__link {
    font-size: 15px;
    padding: 0;
    padding-top: 16px;
    padding-right: 37px;
  }

  .menu__delivery {
    display: block;
    padding-right: 0;
    order: 3;
    align-self: flex-start;
    padding-top: 1px;
    z-index: 10;
  }
}

@media (min-width: 1150px) {
  .menu .menu__list {
    order: -1;
  }

  .menu__list .menu__link {
    font-size: 17px;
    line-height: 24px;
    min-width: 185px;
    margin-right: 0;
    padding-top: 32px;
    padding-bottom: 33px;

    &--border {
      border-right: 1px solid #ececec;
      margin-right: 33px;
      padding-right: 0;
    }
  }

  .menu__offer {
    display: flex;
    z-index: 10;
  }

  .menu__offer .menu__link {
    font-size: 15px;
    padding: 0;
    padding-top: 16px;
    min-width: 220px;
  }
}
