.modal {
  width: 320px;
  padding: 0 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  border-top: 1px solid $grey-border;
  border-bottom: 1px;
}

.modal__title {
  margin: 0;
  padding: 36px 0 0;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: $black;
  text-transform: uppercase;
}

.form-modal__title {
  margin: 0 0 13px;
  padding: 13px 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: $color-text;
}

.form-modal__group {
  margin: 0;
  padding: 0;
  background: none;
}

.fotm-radio {
  display: inline-block;
  width: 77px;
  margin: 0 0 30px 7px;
  padding: 12px 0;
  text-align: center;
  bottom: 2px solid $grey-border;
}

.modal__submit {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: $mint-lighter;
  border: none;
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.form-radio__label {
  font-size: 17px;
  line-height: 20px;
  color: $color-text;
}

.form-radio__input {
  display: none;
}
