.page-header {
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
  width: 320px;
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__toggle {
  border: none;
  box-shadow: none;
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg") no-repeat $white;
}

.main-nav__link {
  text-decoration: none;
  color: $black;
}

.main-nav__user-link {
  text-decoration: none;
  color: $black;
}

.main-nav__item {
  list-style-type: none;
  border-bottom: 1px solid $grey-border;
}

.main-nav__user-item {
  list-style-type: none;
  border-bottom: 1px solid $grey-border;
}

.promo__item--interior {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $mint-lighter;
}

.promo__item--toys {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $mint-darker;
}

.promo__item-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: white;
  font-weight: 700;
  padding-left: 28px;
  padding-top: 26px;
  width: 290px;
  text-decoration: none;
}

.promo__item-image--interior {
  width: 40px;
  height: 62px;
  background: url("../img/icon-interior.svg") no-repeat;
  top: 23px;
  right: 35px;
  opacity: 0.5;
}

.promo__item-image--toys {
  width: 60px;
  height: 60px;
  background: url("../img/icon-interior.svg") no-repeat;
  top: 21px;
  right: 27px;
  opacity: 0.5;
}
