.catalog-promo__text {
  font-family: "Open Sans", "Arial", sans-serif;
  width: 260px;
  margin-top: 70px;
  color: $black;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
  align-self: center;
}

.product {
  width: 260px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 31px;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: $white;
}

.product-card__image {
  color: $black;
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 26px;
}

.product-card__property {
  color: $color-text;
  font-size: 13px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  border-bottom: 1px solid $grey-border;
}

.product-card__price-text {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
