.page-header {
  width: 100%;
  background-color: $white;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page-header__logo {
  width: 320px;
  min-height: 79px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__toggle {
  position: absolute;
  top: 30px;
  right: 30px;
  border: none;
  box-shadow: none;
  width: 20px;
  height: 14px;
  background: url("../img/icon-menu-open.svg") no-repeat $white;
}

.main-nav__list {
  margin: auto;
  width: 320px;
}

@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }

  .page-header__logo {
    min-height: 88px;
    justify-content: flex-start;
  }
}

@media (min-width: 1150px) {
  .page-header__logo {
    width: 200px;
    justify-content: center;
  }
}
