.promo__text {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 27px;
  padding-top: 70px;
  padding-bottom: 120px;
  min-width: 260px;
  text-align: center;
}

.promo {
  background: url("../img/hero-mobile@1x.jpg") no-repeat 50% -20px;
  min-height: 320px;
  border-top: 1px solid $grey-border;
  display: flex;
  flex-direction: column;
}

.promo__item--interior {
  min-width: 320px;
  min-height: 106px;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $mint-lighter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-bottom: 16px;
}

.promo__item--toys {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $mint-darker;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-bottom: 16px;
}

.promo__item-title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 19px;
  line-height: 24px;
  color: white;
  font-weight: 700;
  padding-left: 28px;
  padding-top: 26px;
  width: 120px;
  min-height: 50px;
  text-decoration: none;
  display: flex; 
}

.promo__item-image--interior {
  width: 50px;
  height: 64px;
  top: 23px;
  right: 35px;
  opacity: 0.5;
  display: flex;
}

.promo__item-image--toys {
  width: 70px;
  height: 60px;
  top: 21px;
  right: 27px;
  opacity: 0.5;
  display: flex;
}

@media (min-width: 768px) {
  .promo__wrapper {
    display: flex;
    width: 668px;
  }

  .promo {
    width: 668px;
  }

  .promo__item-image--interior,
  .promo__item-image--toys {
    width: 306px;
    min-height: 94px;
  }

  .promo-text {
    font-size: 43px;
    margin-bottom: 100px;
  }
}

@media (min-width: 1150px) {
  .promo__wrapper {
    display: flex;
    width: 1150px;
  }

  .promo__item-image--interior,
  .promo__item-image--toys {
    width: 497px;
    min-height: 94px;
  }
}
